<table id="portRatorReportTbl" class="portRatorReportTbl" border="1" cellspacing="0" cellpadding="4">
    <tr><td class="title" colspan="24">Port Analysis Scorecard</td></tr>
    <tr class="b-top"><td colspan="4" class="b-left bold-font" >Port Detail</td><td colspan="9" class="bold-font" >Vessel Offloads</td><td rowspan="_totalRowsCount_" class="border-all" ></td><td colspan="10" class="bold-font b-right" >Weekly Port Efficiency (Days)</td></tr>
    _headerRow1_ _headerRow2_ _mainContentTableRows_ _lastRow_
</table>